OPENROUTER_API_KEY=sk-or-v1-your_real_key_here
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

LLAMA4_SCOUT_MODEL=meta-llama/llama-4-scout
LLAMA4_MAVERICK_MODEL=meta-llama/llama-4-maverick

QWEN3_4B_MODEL=qwen/qwen3-4b
QWEN3_14B_MODEL=qwen/qwen3-14b
QWEN3_32B_MODEL=qwen/qwen3-32b
QWEN3_235B_A22B_THINKING_MODEL=qwen/qwen3-235b-a22b-thinking-2507

JUDGE_BASE_URL=https://openrouter.ai/api/v1
JUDGE_MODEL_ID=openai/gpt-4.1-mini
JUDGE_MODEL_NAME=GPT-4.1-Mini
JUDGE_PROVIDER=OpenRouter
