OPENROUTER_API_KEY=sk-or-v1-your_real_key_here
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

LLAMA4_SCOUT_MODEL=meta-llama/llama-4-scout
LLAMA4_MAVERICK_MODEL=meta-llama/llama-4-maverick

JUDGE_BASE_URL=https://openrouter.ai/api/v1
JUDGE_MODEL_ID=openai/gpt-4.1-mini
JUDGE_MODEL_NAME=GPT-4.1-Mini
JUDGE_PROVIDER=OpenRouter